In [1]:
import pandas as pd
import os

In [2]:
# Replace 'your_file.txt' with the actual file path
file_path = '/home/paulc600/scratch/PRMS/02_directory/inputs/precip_m.day'

In [3]:
# output path
output_folder_path = '/home/paulc600/scratch/PRMS/02_directory/inputs/precip.day'

In [5]:
# Read the text file into a DataFrame, skipping the first 3 lines
skip_lines = 3
df = pd.read_csv(file_path, skiprows=skip_lines, header=None, sep='\t')

In [6]:
# Save the first 3 lines as strings
with open(file_path, 'r') as file:
    first_3_lines = [next(file) for _ in range(skip_lines)]

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,0.00074,0.00077,0.00094,0.00094,...,0.000000,0.000000,4.500000e-07,0.000002,0.000003,0.000001,2.500000e-06,3.600000e-06,6.300000e-07,6.300000e-07
1,1980,1,2,0,0,0,0.00060,0.00073,0.00097,0.00097,...,0.000013,0.000009,3.100000e-05,0.000071,0.000079,0.000080,8.800000e-05,8.600000e-05,4.400000e-05,5.300000e-05
2,1980,1,3,0,0,0,0.00450,0.00440,0.00520,0.00520,...,0.000160,0.000054,3.500000e-05,0.000066,0.000085,0.000083,1.400000e-04,1.400000e-04,2.700000e-04,2.700000e-04
3,1980,1,4,0,0,0,0.00048,0.00045,0.00037,0.00037,...,0.000400,0.000220,1.800000e-04,0.000210,0.000190,0.000180,1.300000e-04,1.400000e-04,1.700000e-04,8.400000e-05
4,1980,1,5,0,0,0,0.01700,0.01700,0.01800,0.01800,...,0.004600,0.003400,3.000000e-03,0.003400,0.003400,0.003200,3.500000e-03,3.600000e-03,5.200000e-03,4.200000e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,0.00068,0.00064,0.00066,0.00066,...,0.000460,0.000460,3.500000e-04,0.000190,0.000190,0.000200,2.000000e-04,1.900000e-04,2.500000e-04,2.100000e-04
14241,2018,12,28,0,0,0,0.00042,0.00042,0.00042,0.00042,...,0.000027,0.000056,7.900000e-05,0.000081,0.000075,0.000073,5.700000e-05,5.800000e-05,2.100000e-05,3.500000e-05
14242,2018,12,29,0,0,0,0.01300,0.01400,0.01800,0.01800,...,0.000005,0.000006,1.100000e-06,0.000000,0.000000,0.000000,1.300000e-07,1.400000e-07,1.200000e-06,2.700000e-06
14243,2018,12,30,0,0,0,0.00650,0.00640,0.00690,0.00690,...,0.001100,0.000490,4.000000e-04,0.000450,0.000470,0.000460,5.400000e-04,5.500000e-04,8.700000e-04,8.400000e-04
14244,2018,12,31,0,0,0,0.00029,0.00029,0.00023,0.00023,...,0.000180,0.000140,1.200000e-04,0.000210,0.000270,0.000260,3.700000e-04,3.700000e-04,3.500000e-04,3.900000e-04

In [8]:
# Multiply all values in the DataFrame by conversion factor, except for the first 6 columns
for col in df.columns[6:]:
    df[col] *= 39.3701

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,0.029134,0.030315,0.037008,0.037008,...,0.000000,0.000000,0.000018,0.000079,0.000118,0.000055,0.000098,0.000142,0.000025,0.000025
1,1980,1,2,0,0,0,0.023622,0.028740,0.038189,0.038189,...,0.000512,0.000339,0.001220,0.002795,0.003110,0.003150,0.003465,0.003386,0.001732,0.002087
2,1980,1,3,0,0,0,0.177165,0.173228,0.204725,0.204725,...,0.006299,0.002126,0.001378,0.002598,0.003346,0.003268,0.005512,0.005512,0.010630,0.010630
3,1980,1,4,0,0,0,0.018898,0.017717,0.014567,0.014567,...,0.015748,0.008661,0.007087,0.008268,0.007480,0.007087,0.005118,0.005512,0.006693,0.003307
4,1980,1,5,0,0,0,0.669292,0.669292,0.708662,0.708662,...,0.181102,0.133858,0.118110,0.133858,0.133858,0.125984,0.137795,0.141732,0.204725,0.165354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,0.026772,0.025197,0.025984,0.025984,...,0.018110,0.018110,0.013780,0.007480,0.007480,0.007874,0.007874,0.007480,0.009843,0.008268
14241,2018,12,28,0,0,0,0.016535,0.016535,0.016535,0.016535,...,0.001063,0.002205,0.003110,0.003189,0.002953,0.002874,0.002244,0.002283,0.000827,0.001378
14242,2018,12,29,0,0,0,0.511811,0.551181,0.708662,0.708662,...,0.000217,0.000220,0.000043,0.000000,0.000000,0.000000,0.000005,0.000006,0.000047,0.000106
14243,2018,12,30,0,0,0,0.255906,0.251969,0.271654,0.271654,...,0.043307,0.019291,0.015748,0.017717,0.018504,0.018110,0.021260,0.021654,0.034252,0.033071
14244,2018,12,31,0,0,0,0.011417,0.011417,0.009055,0.009055,...,0.007087,0.005512,0.004724,0.008268,0.010630,0.010236,0.014567,0.014567,0.013780,0.015354

In [10]:
# write output file
with open(output_folder_path, 'w') as output_file:
    for line in first_3_lines:
        output_file.write(line)
    df.to_csv(output_file, sep='\t', header=False, index=False, mode='a')