In [1]:
import pandas as pd
import os

In [2]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [3]:
# Replace 'your_file.txt' with the actual file path
file_path = '/home/paulc600/scratch/PRMS/03_DNRC/inputs/tmax_c.day'

In [4]:
# output path
output_folder_path = '/home/paulc600/scratch/PRMS/03_DNRC/inputs/tmax.day'

In [5]:
# Read the text file into a DataFrame, skipping the first 3 lines
skip_lines = 3
df = pd.read_csv(file_path, skiprows=skip_lines, header=None, sep='\t')

In [6]:
# Save the first 3 lines as strings
with open(file_path, 'r') as file:
    first_3_lines = [next(file) for _ in range(skip_lines)]

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,-4.1,-4.1,-4.2,-4.2,...,-15.0,-16.0,-16.0,-16.0,-15.0,-15.0,-15.0,-14.0,-14.0,-14.0
1,1980,1,2,0,0,0,-5.9,-6.3,-5.7,-5.7,...,-13.0,-14.0,-13.0,-12.0,-12.0,-13.0,-14.0,-13.0,-11.0,-12.0
2,1980,1,3,0,0,0,-9.1,-9.3,-8.6,-8.6,...,-12.0,-13.0,-14.0,-14.0,-13.0,-13.0,-11.0,-11.0,-10.0,-11.0
3,1980,1,4,0,0,0,-10.0,-10.0,-9.9,-9.9,...,-20.0,-21.0,-21.0,-22.0,-22.0,-22.0,-20.0,-20.0,-17.0,-19.0
4,1980,1,5,0,0,0,-24.0,-24.0,-25.0,-25.0,...,-20.0,-20.0,-21.0,-21.0,-21.0,-21.0,-22.0,-22.0,-22.0,-23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,-12.0,-12.0,-11.0,-11.0,...,-9.0,-9.4,-12.0,-14.0,-13.0,-13.0,-12.0,-12.0,-12.0,-11.0
14241,2018,12,28,0,0,0,-14.0,-14.0,-14.0,-14.0,...,-14.0,-15.0,-17.0,-19.0,-19.0,-19.0,-19.0,-18.0,-16.0,-16.0
14242,2018,12,29,0,0,0,-10.0,-10.0,-11.0,-11.0,...,-7.2,-7.9,-9.4,-10.0,-9.9,-10.0,-9.6,-9.3,-6.5,-7.1
14243,2018,12,30,0,0,0,-16.0,-16.0,-17.0,-17.0,...,-13.0,-14.0,-15.0,-16.0,-16.0,-16.0,-16.0,-17.0,-17.0,-17.0
14244,2018,12,31,0,0,0,-17.0,-17.0,-17.0,-17.0,...,-15.0,-16.0,-17.0,-17.0,-17.0,-17.0,-18.0,-18.0,-18.0,-18.0

In [8]:
# Apply the conversion function to all relevant columns (skip first 6 columns)
for col in df.columns[6:]:
    df[col] = df[col].apply(celsius_to_fahrenheit)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,905,906,907,908,909,910,911,912,913,914
0,1980,1,1,0,0,0,24.62,24.62,24.44,24.44,...,5.00,3.20,3.20,3.2,5.00,5.0,5.00,6.80,6.8,6.80
1,1980,1,2,0,0,0,21.38,20.66,21.74,21.74,...,8.60,6.80,8.60,10.4,10.40,8.6,6.80,8.60,12.2,10.40
2,1980,1,3,0,0,0,15.62,15.26,16.52,16.52,...,10.40,8.60,6.80,6.8,8.60,8.6,12.20,12.20,14.0,12.20
3,1980,1,4,0,0,0,14.00,14.00,14.18,14.18,...,-4.00,-5.80,-5.80,-7.6,-7.60,-7.6,-4.00,-4.00,1.4,-2.20
4,1980,1,5,0,0,0,-11.20,-11.20,-13.00,-13.00,...,-4.00,-4.00,-5.80,-5.8,-5.80,-5.8,-7.60,-7.60,-7.6,-9.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14240,2018,12,27,0,0,0,10.40,10.40,12.20,12.20,...,15.80,15.08,10.40,6.8,8.60,8.6,10.40,10.40,10.4,12.20
14241,2018,12,28,0,0,0,6.80,6.80,6.80,6.80,...,6.80,5.00,1.40,-2.2,-2.20,-2.2,-2.20,-0.40,3.2,3.20
14242,2018,12,29,0,0,0,14.00,14.00,12.20,12.20,...,19.04,17.78,15.08,14.0,14.18,14.0,14.72,15.26,20.3,19.22
14243,2018,12,30,0,0,0,3.20,3.20,1.40,1.40,...,8.60,6.80,5.00,3.2,3.20,3.2,3.20,1.40,1.4,1.40
14244,2018,12,31,0,0,0,1.40,1.40,1.40,1.40,...,5.00,3.20,1.40,1.4,1.40,1.4,-0.40,-0.40,-0.4,-0.40

In [10]:
# write output file
with open(output_folder_path, 'w') as output_file:
    for line in first_3_lines:
        output_file.write(line)
    df.to_csv(output_file, sep=' ', header=False, index=False, mode='a')