In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [3]:
def max_difference_between_corresponding_values(arr1, arr2):
    differences = [abs(x - y) for x, y in zip(arr1, arr2)]
    max_difference = max(differences)
    return max_difference

In [4]:
# read modified shapefile
gdf = gpd.read_file('../../geospacial/shapefiles/modified_shapefiles/Modified_SMMcat.shp')

In [5]:
geodata= pd.read_csv('../../model/GeoData.txt', sep= '\t',index_col=0)

In [6]:
evap = pd.read_csv('../../model/results/timeEVAP_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [7]:
prec = pd.read_csv('../../model/results/timePREC_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [8]:
cilv=  pd.read_csv('../../model/results/timeCILV_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [9]:
evsn=  pd.read_csv('../../model/results/timeEVSN_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [10]:
cprf= pd.read_csv('../../model/results/timeCPRF_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [11]:
cpsf= pd.read_csv('../../model/results/timeCPSF_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [12]:
cloc= pd.read_csv('../../model/results/timeCLOC_DD.txt', sep= '\t', skiprows=1, index_col=0)

In [15]:
runoff= pd.read_csv('../../model/water_balance/WBf_flow_lstream_mriver.txt', sep= '\t', index_col=0)

In [16]:
runoff

,58675,58674,58673,58672,58671,58670,58669,58668,58667,58666,...,58188,58189,58186,58192,58240,58185,58231,58184,58228,58183
DATE,,,,,,,,,,,,,,,,,,,,,
1980-01-01,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,0.000311,0.006231,0.001493,0.049848,0.001551,0.000322,0.007163,0.000291,0.002450,0.006987
1980-01-02,0.000000e+00,0.000000e+00,0.000000e+00,0.0,-1.862645e-09,0.0,0.0,0.0,0.000000e+00,0.0,...,2.135616,82.476082,37.153751,258.100403,32.351292,2.127183,140.541000,11.464600,43.872208,118.358986
1980-01-03,3.725290e-09,0.000000e+00,0.000000e+00,0.0,1.862645e-09,0.0,0.0,0.0,0.000000e+00,0.0,...,1.971780,47.142296,30.342369,330.764862,13.883671,1.676747,64.151772,10.291930,42.012196,83.911583
1980-01-04,0.000000e+00,-2.384186e-07,5.684342e-14,0.0,1.862645e-09,0.0,0.0,0.0,0.000000e+00,0.0,...,0.611371,22.228653,2.414742,161.127655,7.788660,0.092718,36.295403,0.484155,12.972743,21.659111
1980-01-05,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,-1.455192e-11,0.0,...,0.335741,12.751174,0.370128,60.977608,5.348776,0.031322,24.378712,0.029153,6.474468,9.998837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,0.000000e+00,0.000000e+00,-1.220703e-04,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,109.005585,5771.760254,1353.401978,36589.128910,1802.109863,213.547684,6474.677734,553.266724,781.778687,669.796631
2015-12-28,0.000000e+00,0.000000e+00,-1.220703e-04,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,108.293221,5734.249023,1344.469360,36351.335940,1790.393188,212.150024,6432.585938,549.591614,776.543274,665.357788
2015-12-29,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,107.588234,5696.992188,1335.687012,36115.093750,1778.756958,210.768524,6390.797363,545.995239,771.449707,661.012268
2015-12-30,0.000000e+00,0.000000e+00,1.220703e-04,0.0,4.768372e-07,0.0,0.0,0.0,0.000000e+00,0.0,...,106.889015,5659.966797,1326.988525,35880.378910,1767.200684,209.397614,6349.281738,542.439880,766.421448,656.712463
2015-12-31,0.000000e+00,0.000000e+00,0.000000e+00,0.0,-4.768372e-07,0.0,0.0,0.0,0.000000e+00,0.0,...,106.194367,5623.177246,1318.357422,35647.195310,1755.713135,208.035873,6308.031738,538.910217,761.435669,652.448486

### Water Balance

In [12]:
evap_sums = pd.DataFrame({'evap': evap.sum()})
evap_sums['evap'].index = evap_sums['evap'].index.astype(int)

In [38]:
prec_sums = pd.DataFrame({'prec': prec.sum()})
prec_sums['prec'].index = prec_sums['prec'].index.astype(int)

In [14]:
cloc_sums= pd.DataFrame({'cloc': cloc.sum()})
cloc_sums['cloc'].index = cloc_sums['cloc'].index.astype(int)

In [15]:
# calculate change in storage
ilake_stor= (cilv.iloc[0] - cilv.iloc[-1]) * 10**6
S_df= pd.DataFrame({'S': ilake_stor})

In [16]:
ET= (evap_sums['evap'] * 0.001) * geodata['area']
ET_df = pd.DataFrame({'ET': ET})

In [17]:
P= (prec_sums['prec'] * 0.001) * geodata['area']
P_df = pd.DataFrame({'P': P})

In [18]:
# Convert indices to int64
cloc_sums.index = cloc_sums.index.astype(int)
S_df.index = S_df.index.astype(int)

In [19]:
wb= P_df['P'] - cloc_sums['cloc'] - S_df['S'] - ET_df['ET']

In [20]:
wb

58183   NaN
58184   NaN
58185   NaN
58186   NaN
58188   NaN
         ..
58671   NaN
58672   NaN
58673   NaN
58674   NaN
58675   NaN
Length: 946, dtype: float64

### Snow/rainfall fractions

In [21]:
prec_sums = prec.iloc[:].sum()

In [22]:
prec_sums

58675    12589.862
58674    11670.591
58673    12642.727
58672    12972.849
58671    12389.727
           ...
58185    14336.278
58231    15370.429
58184    14382.720
58228    14623.077
58183    14381.096
Length: 473, dtype: float64

In [23]:
prec_sums2= sum(prec_sums)

In [24]:
cprf_sum= cprf.iloc[:].sum()

In [25]:
cpsf_sum= cpsf.iloc[:].sum()

In [26]:
bal= cpsf_sum+ cprf_sum

In [27]:
bal_sum= sum(bal)

In [28]:
snow= sum(cpsf_sum) / prec_sums2
snow

0.27666351387094584

In [29]:
rain= sum(cprf_sum) / prec_sums2
rain

0.7233321836646329

### Evap

In [30]:
cpsf_sums = pd.DataFrame({'cpsf': cpsf.sum()})
cpsf_sums['cpsf'].index = cpsf_sums['cpsf'].index.astype(int)

In [31]:
evsn_sums = pd.DataFrame({'evsn': evsn.sum()})
evsn_sums['evsn'].index = evsn_sums['evsn'].index.astype(int)

In [32]:
sublim= evsn_sums['evsn']/cpsf_sums['cpsf']

In [33]:
sublim.mean()

0.4071399908406758

### Runoff ratio

In [34]:
# Merge column_means_df onto gdf by the index in column_means_df and seg_nhm column in gdf
merged_gdf = gdf.merge(cloc_sums, left_on='seg_nhm', right_index=True)

In [35]:
merged_gdf

,hru_nhm,seg_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,HUC04,Coastal_HR,Shape_Leng,Shape_Area,geometry,cloc
0,113602,58183,6.500040e+13,113,3,3651,1723,0,0904,0,28637.472967,3.652090e+07,"POLYGON ((-112.87990 49.58915, -112.87988 49.5...",2437.360
1,113598,58184,6.500040e+13,109,4,3647,1724,0,0904,0,22917.257393,1.750700e+07,"POLYGON ((-112.84816 49.57293, -112.84776 49.5...",710.898
2,113588,58185,6.500040e+13,99,5,3637,1725,0,0904,0,10941.686207,5.667200e+06,"POLYGON ((-112.83280 49.56569, -112.83283 49.5...",283.555
3,113584,58186,6.500040e+13,95,6,3633,1726,0,0904,0,47581.126463,3.803350e+07,"POLYGON ((-112.83256 49.56479, -112.83243 49.5...",1906.918
4,113577,58188,6.500040e+13,88,8,3626,1728,0,0904,0,11865.104926,2.801800e+06,"POLYGON ((-112.93812 49.51740, -112.93809 49.5...",180.940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,58671,2.300280e+13,699,0,4358,0,1,1005,0,202460.006602,3.860121e+08,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286...",90.083
469,114313,58672,2.300280e+13,703,0,4362,0,1,1005,0,295200.002203,9.586554e+08,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714...",230.552
470,114322,58673,2.300280e+13,712,0,4371,0,1,1005,0,188640.001102,2.876408e+08,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650...",61.760
471,114388,58674,2.300280e+13,778,0,4437,0,1,1005,0,105620.001701,2.727878e+08,"POLYGON ((-110.30901 48.72789, -110.30899 48.7...",120.897
472,114417,58675,2.300280e+13,807,0,4466,0,1,1005,0,129339.991902,2.730521e+08,"POLYGON ((-108.01514 48.95160, -108.01512 48.9...",86.164

In [39]:
df= pd.DataFrame({'prec': prec.sum()})

In [44]:
# Convert index of column_means_df to integers
df.index = df.index.astype(int)

In [45]:
df

            prec
58675  12589.862
58674  11670.591
58673  12642.727
58672  12972.849
58671  12389.727
...          ...
58185  14336.278
58231  15370.429
58184  14382.720
58228  14623.077
58183  14381.096

[473 rows x 1 columns]

In [46]:
merged_gdf = merged_gdf.merge(df, left_on='seg_nhm', right_index=True)

In [54]:
merged_gdf['difference']= ((merged_gdf['cloc']/merged_gdf['Shape_Area'])*1000*12783.8) / merged_gdf['prec']

In [55]:
merged_gdf

,hru_nhm,seg_nhm,POI_ID,hru_id,hru_segmen,hru_id_tb,hru_segm_1,Type_NCA,HUC04,Coastal_HR,Shape_Leng,Shape_Area,geometry,cloc,prec,difference
0,113602,58183,6.500040e+13,113,3,3651,1723,0,0904,0,28637.472967,3.652090e+07,"POLYGON ((-112.87990 49.58915, -112.87988 49.5...",2437.360,14381.096,0.059326
1,113598,58184,6.500040e+13,109,4,3647,1724,0,0904,0,22917.257393,1.750700e+07,"POLYGON ((-112.84816 49.57293, -112.84776 49.5...",710.898,14382.720,0.036092
2,113588,58185,6.500040e+13,99,5,3637,1725,0,0904,0,10941.686207,5.667200e+06,"POLYGON ((-112.83280 49.56569, -112.83283 49.5...",283.555,14336.278,0.044616
3,113584,58186,6.500040e+13,95,6,3633,1726,0,0904,0,47581.126463,3.803350e+07,"POLYGON ((-112.83256 49.56479, -112.83243 49.5...",1906.918,14684.132,0.043649
4,113577,58188,6.500040e+13,88,8,3626,1728,0,0904,0,11865.104926,2.801800e+06,"POLYGON ((-112.93812 49.51740, -112.93809 49.5...",180.940,15271.322,0.054061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,114309,58671,2.300280e+13,699,0,4358,0,1,1005,0,202460.006602,3.860121e+08,"MULTIPOLYGON (((-108.52850 49.15148, -108.5286...",90.083,12389.727,0.000241
469,114313,58672,2.300280e+13,703,0,4362,0,1,1005,0,295200.002203,9.586554e+08,"MULTIPOLYGON (((-108.67155 49.02478, -108.6714...",230.552,12972.849,0.000237
470,114322,58673,2.300280e+13,712,0,4371,0,1,1005,0,188640.001102,2.876408e+08,"MULTIPOLYGON (((-108.96500 49.40234, -108.9650...",61.760,12642.727,0.000217
471,114388,58674,2.300280e+13,778,0,4437,0,1,1005,0,105620.001701,2.727878e+08,"POLYGON ((-110.30901 48.72789, -110.30899 48.7...",120.897,11670.591,0.000485
472,114417,58675,2.300280e+13,807,0,4466,0,1,1005,0,129339.991902,2.730521e+08,"POLYGON ((-108.01514 48.95160, -108.01512 48.9...",86.164,12589.862,0.000320

In [ ]:
cloc['58192'].sum()

In [ ]:
prec['58192'].sum()

In [ ]:
# Plot a heatmap of the 'Mean' column with adjusted figure size
ax = merged_gdf.plot(column='cloc', cmap='viridis', legend=True, figsize=(10, 8))

# Add title to the plot
ax.set_title('Runoff Ratio by HRU')

# Get the color bar instance
cbar = ax.get_figure().get_axes()[1]

# Add units to the color bar
cbar.set_ylabel('%')

# Save the plot as PNG to a specific location
plt.savefig('../../model/plots/runoff_ratio.png')

# Show the plot
plt.show()