In [1]:
import pandas as pd

In [2]:
def initialize_qobs(file_path, station_id):
    # Read the text file into a DataFrame
    df = pd.read_csv(file_path, sep='\t')

    # Convert the index to datetime (if not already in datetime format)
    df.index = pd.to_datetime(df.index)
    
    # Check and update the index range
    expected_index = pd.date_range('1980-01-01', '2015-12-31')
    if not df.index.equals(expected_index):
        df = df.reindex(expected_index, fill_value=-9999)
        
        # Set the 'Date' column as the index
    df.index.name = 'Date'
    
    # Rename the only column after the given station ID
    df.rename(columns={df.columns[0]: station_id}, inplace=True)
    
    # Convert the column from cubic meters per second to cubic feet per second
    df[station_id] = df[station_id].apply(lambda x: x * 35.315 if x not in [-999, -9999] else x)

    return df

In [3]:
def addto_qobs(file_path, station_id, qobs):
    # Read the text file into a DataFrame
    df = pd.read_csv(file_path, sep='\t')

    # Convert the index to datetime (if not already in datetime format)
    df.index = pd.to_datetime(df.index)
    
    # Check and update the index range
    expected_index = pd.date_range('1980-01-01', '2015-12-31')
    if not df.index.equals(expected_index):
        df = df.reindex(expected_index, fill_value=-9999)
        
    # Set the 'Date' column as the index
    df.index.name = 'Date'
    
    # Rename the only column after the given station ID
    df.rename(columns={df.columns[0]: station_id}, inplace=True)
    
    # Convert the column from cubic meters per second to cubic feet per second
    df[station_id] = df[station_id].apply(lambda x: x * 35.315 if x not in [-999, -9999] else x)

    # Merge flow_df with df based on matching index (dates)
    qobs = qobs.merge(df, left_index=True, right_index=True, how='left')
    

    return qobs

In [4]:
data_file_path= '/home/paulc600/scratch/calprms/obsin/data/infill_sf_data'

In [5]:
qobs = initialize_qobs('/home/paulc600/local/Natural_flows/Final_Nat/05014500.txt', 24)

In [6]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/05017500.txt', 13, qobs)

In [7]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/05020500.txt', 10, qobs)

In [8]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06133000.txt', 195, qobs)

In [9]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06133500.txt', 429, qobs)

In [10]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06135000.txt', 95, qobs)

In [11]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06139500.txt', 133, qobs)

In [12]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06142400.txt', 212, qobs)

In [13]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06145500.txt', 143, qobs)

In [14]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06149500.txt', 150, qobs)

In [15]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06154550.txt', 205, qobs)

In [16]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06164000.txt', 77, qobs)

In [17]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06167500.txt', 115, qobs)

In [18]:
qobs= addto_qobs('/home/paulc600/local/Natural_flows/Final_Nat/06171000.txt', 79, qobs)

In [19]:
qobs

,24,13,10,195,429,95,133,212,143,150,205,77,115,79
Date,,,,,,,,,,,,,,
1980-01-01,37.744218,115.594825,130.594942,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.340010
1980-01-02,36.028572,113.879179,128.879296,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.250010
1980-01-03,36.028572,111.879163,130.879311,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.150009
1980-01-04,34.312926,109.163509,116.163564,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,0.860007
1980-01-05,34.312926,104.163470,111.163525,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,0.470004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,47.219927,289.221813,337.222187,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.460011
2015-12-28,44.949738,274.951530,324.951920,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.960015
2015-12-29,42.982241,264.983971,302.984267,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.960015
2015-12-30,43.436279,252.437907,293.438227,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.960015
2015-12-31,42.376858,240.378400,282.378728,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,1.960015

In [20]:
# Convert the index to datetime
qobs.index = pd.to_datetime(qobs.index)

In [21]:
# Write sf_data to a text file
with open(data_file_path, 'w') as file:
    # write header
    custom_header = """Created by paul NO INFILL
/////////////////////////////////////////////////////////////////////////
// Station IDs for runoff:
// ID
// Swiftcurrent Creek at Sherburne Reservoir
// St. Mary River near Babb, MT
// St. Mary River at International Boundary
// Milk River at Western Crossing of International Boundary
// North Fork Milk River above St Mary Canal near Browning
// Milk River at Eastern Crossing
// Big Sandy Creek at Mouth
// Clear Creek at Mouth
// Lodge Creek at International Boundary
// Battle Creek at International Boundary
// Peoples Creek at Mouth
// Frenchman River at International Boundary
// Beaver Creek Bowdoin
// Rock Creek at Mouth
/////////////////////////////////////////////////////////////////////////
// Unit: runoff = cfs
/////////////////////////////////////////////////////////////////////////
"""
    file.write(custom_header)
    # Number of gauges
    file.write('runoff 14\n')
    file.write('################################################\n')
 

    # Write data
    for date_str, row in zip(qobs.index, qobs.itertuples(index=False)):
            
        # Extract year, month, and day from the Timestamp object
        year = date_str.year
        month = date_str.month
        day = date_str.day
        
        # Create a list with year, month, day, and three zeros, followed by data
        output_row = [year, month, day, '0', '0', '0'] + [str(val) for val in row]
        
        # Write the row to the file
        file.write(' '.join(map(str, output_row)) + '\n')